@use "@styles/vars";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  @include vars.x-small {
    padding: 20px 15px;
  }
  .logoIcon {
    width:70px;
    height: 70px;
    svg {
      height: auto;
      width: 100%;

    }
  }
}

