@use "@styles/vars";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.link {
  @include vars.button();
  background: transparent;
  border: none;
  color: white;
  font-size: 48px;
  cursor: pointer;
}

.reserve {
  @include vars.script();
}

.reserveBottom {
  position: fixed;
  bottom: 1%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}
