@use "@styles/vars";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  @include vars.x-small {
    padding: 20px 15px;
  }
}

.link {
  @include vars.script();
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.reserve {
  @include vars.script();
}

.reserveBottom {
  position: fixed;
  bottom: 1%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.fade {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
