@use "@styles/vars";

.sectionOne {
  position: relative;
}
.introText {
  opacity: 0;
  scale: 0.95;
  text-align: justify;
  p {
    line-height: 110%;
  }
}

.two {
  right: -50px;
  position: absolute;
  top: 30vh;
  width: 50px;
  z-index: 100;
  img {
    height: auto;
    width: 100%;
  }
}

.ethosIllistration {
  position: absolute;
  top: 80vh;
  left: 85vw;
  width: 212px;
  height: auto;
  z-index: 2;
  opacity: 0;
  img {
    width: 100%;
    height: auto;
  }
}

.ethosCollageOne {
  position: absolute;
  top: 100vh;
  left: 50%;
  width: 575px;
  height: auto;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
}
.ethosCollageTwo {
  position: absolute;
  top: 10vh;
  left: 70vw;
  width: 372px;
  height: auto;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
}

.two {
  right: -10vw;
  position: absolute;
  top: 60vh;
  width: 80px;
  img {
    height: auto;
    width: 100%;
  }
}

.gridContainer {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(2, 300px);
  grid-column-gap: 60px;
  grid-row-gap: 10px;
  justify-content: center;
}

.gridItem {
  opacity: 0;
  position: relative;
  transform: translateY(20px);

  .number {
    height: auto;
    left: -40px;
    position: absolute;
    top: 10px;
    width: 32px;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  p {
    @include vars.annoText();
  }

  .annotationImage {
    height: 30vh;
    width: auto;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }

    @include vars.medium-and-lower() {
      height: 20vh;
    }
  }

  &:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  &:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  &:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  &:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }

  &:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
  }

  @include vars.medium-and-lower() {
    padding: 13px 36px 13px 60px;

    .number {
      height: auto;
      left: 10px;
      position: absolute;
      top: 20px;
      width: 32px;

      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

.ethosImage {
  position: absolute;
  top: 60vh;
  left: 50vw;
  width: 600px;
  height: auto;
  z-index: 2;
  opacity: 0;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.medium-and-lower() {
    width: 40vw;
  }
}
.illustration2 {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 450px;
  height: auto;
  z-index: 2;
  opacity: 0;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.medium-and-lower() {
    width: 15vw;
  }
}

.ethosCollageElement3 {
  position: absolute;
  top: 100vh;
  left: 70vw;
  width: 670px;
  height: auto;
  z-index: 1;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.medium-and-lower() {
    width: 35vw;
  }
}

.ethosSketch {
  position: absolute;
  top: 10vh;
  left: 60vw;
  width: 260px;
  display: flex;
  height: auto;
  z-index: 2;
  @include vars.medium-and-lower() {
    width: 15vw;
  }
}

.seasonImg {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  height: auto;
  z-index: 2;
  opacity: 0;
  img {
    width: 100%;
    height: auto;
  }
}

.pullTextWrap {
  position: absolute;
  bottom: 50px;
  left: 100px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  z-index: 1000;
  img {
    width: 100%;
    height: auto;
  }
}
.pullTextCopy {
  transform: translateY(200%);
}

.mobileFlipperWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 40px;
  img {
    max-width: 100%;
  }
}

.mobileIntroText {
  padding: 36px;
  margin-top: -40vh;
  opacity: 0;
  scale: 0.95;
  text-align: justify;
  p {
    line-height: 110%;
  }
}

.mobileCollage1 {
  position: absolute;
  top: 150%;
  left: -20%;
  width: 70%;
  img {
    max-width: 100%;
  }
}

.mobileCollage2 {
  position: absolute;
  top: 100%;
  left: 40px;
  width: 70%;
  position: relative;
  img {
    max-width: 100%;
  }
}

.mobileTwo {
  left: -10vw;
  position: absolute;
  top: 0;
  width: 80px;
  img {
    height: auto;
    width: 100%;
  }
}

.mobileWolf {
  width: 60%;
  padding-left: 20px;
  opacity: 0;
  scale: 0.95;
  img {
    z-index: 2;
    width: 100%;
  }
}

.mobileEthosImg {
  width: 100%;
  opacity: 0;
  scale: 0.95;
  img {
    z-index: 1;
    width: 100%;
  }
}
