@use "@styles/vars";

.introContentWrap {
  @include vars.flexbox();
  @include vars.flex-flow(row wrap);
  height: 100%;
  padding: 0 89px;
  width: 100%;
  @include vars.small() {
    padding: 0 60px;
  }
  @include vars.mobile() {
    padding: 0 30px;
  }
}

.title {
  text-align: center;
  margin-top: 130px;
  opacity: 0;
  scale: 0.95;
  width: vars.$full;
  @include vars.x-small {
    margin-top: 80px;
  }
}

.pinnedTextContainer {
  margin-bottom: 20px;
  width: vars.$full;
  .introText {
    opacity: 0;
    position: relative;
    scale: 0.95;
    text-align: justify;
    p {
      line-height: 110%;
      margin: 0 0 50px 0;
    }
  }
  
}

.absolute {
  position: absolute;
  top: 150vh;
  left: 20%;
  width: 372px;
  height: auto;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.mobile {
    width: vars.$five-twelfths;
  }
}

.absolute2 {
  position: absolute;
  top: 150vh;
  left: 60%;
  width: 575px;
  height: auto;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.small() {
    left: calc(100% - 575px);
  }
  @include vars.tablet-and-lower() {
    width: 50vw;
    left: 50vw;
  }
  @include vars.x-small() {
    width: 75vw;
    left: 25vw;
  }
}

.illustratioOne {
  height: auto;
  max-width: 300px;;
  opacity: 0;
  position: absolute;
  right: 0;
  scale: 0.95;
  top: -180px;
  width: vars.$three-twelfths;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.tablet-and-lower {
    top: -120px;
  }
  @include vars.x-small {
    width: vars.$five-twelfths;
    top: -90px;
  }
  
}

.illustrationTwo {
  position: absolute;
  top: 40vh;
  right: 0;
  width: 417px;
  height: auto;
  z-index: 2;
  opacity: 0;
  scale: 0.95;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.tablet-and-lower {
    width: vars.$four-twelfths;
  }
  @include vars.x-small {
    width: vars.$seven-twelfths;
  }
}
