@use "@styles/vars";

.introContentWrap {
  @include vars.flexbox();
  @include vars.flex-flow(row wrap);
  height: 100%;
  padding: 0 89px;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 130px;
  opacity: 0;
  scale: 0.95;
  width: vars.$full;
}

.pinnedTextContainer {
  margin-bottom: 20px;
  width: vars.$full;
  .introText {
    opacity: 0;
    position: relative;
    scale: 0.95;
    text-align: justify;
    p {
      margin: 0;
    }
  }
  
}

.absolute {
  position: absolute;
  top: 150vh;
  left: 20%;
  width: 372px;
  height: auto;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
}

.absolute2 {
  position: absolute;
  top: 150vh;
  left: 60%;
  width: 575px;
  height: auto;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
}

.illustratioOne {
  height: auto;
  max-width: 300px;;
  opacity: 0;
  position: absolute;
  right: 0;
  scale: 0.95;
  top: -180px;
  width: vars.$three-twelfths;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
}

.illustrationTwo {
  position: absolute;
  top: 40vh;
  right: 0;
  width: 417px;
  height: auto;
  z-index: 2;
  opacity: 0;
  scale: 0.95;
  img {
    width: 100%;
    height: auto;
  }
}
