@use "../../styles/vars";

.cls1 {
  fill: #071636;
}
.cls1,
.cls2,
.cls3,
.cls4,
.cls5,
.cls6,
.cls7,
.cls8 {
  stroke-width: 0px;
}
.cls2 {
  fill: #e1a185;
}
.cls3 {
  fill: #b72429;
}
.cls4 {
  fill: #fffdfc;
}
.cls5 {
  fill: #fff;
}
.cls6 {
  fill: #f0d600;
}
.cls7 {
  fill: #f0f0e7;
}
.cls8 {
  fill: #6992b3;
}
