@use "@styles/vars";
.sectionWrap {
  position: relative;
  .hideMobile {
    @include vars.x-small {
      display: none;
    }
  }
  .showMobile {
    @include vars.micro();
    display: none;
    font-weight: 300;
    @include vars.x-small() {
      display: block;
    }
  }
  .infoSection {
    @include vars.grid-wrap();
    padding-right: 0;
    @include vars.x-small {
      @include vars.flexbox();
      @include vars.flex-flow(row wrap);
    }
    .colOne {
      @include vars.flexbox();
      @include vars.flex-flow(row wrap);
      @include vars.four-twelfths();
      border-right: 50px solid transparent;
      border-image: url(../../public/images/1_Line_1.svg) 100 stretch;
      height: 100vh;

      .top {
        .iconWrap {
          max-width: 40px;
          margin: 0 auto;
          @include vars.x-small {
            max-width: 100px;
            margin-bottom: 60px;
          }
        }

        p {
          opacity: 0;
          transform: translateY(100px);
        }
      }
      .bottom {
        opacity: 0;
        transform: translateY(100px);
        .accoladeTitle {
          @include vars.label();
        }
        .accoladesImage {
          position: absolute;
          width: vars.$three-twelfths;
          transform: rotate(15deg);
          img {
            height: auto;
            object-fit: contain;
            width: 100%;
          }
          @include vars.x-small() {
            width: vars.$eight-twelfths;
          }
        }
      }
      p {
        @include vars.micro();
      }
      @include vars.small() {
        @include vars.five-twelfths();
      }
      @include vars.x-small {
        border: none;
        height: auto;
        margin-top: 30px;
        order: 3;
      }
    }
    .colTwo {
      @include vars.three-twelfths();
      border-right: 50px solid transparent;
      border-image: url(../../public/images/1_Line_2.svg) 100 stretch;
      height: 100vh;
      overflow: hidden;
      margin-left: -50px;
      margin-top: 30px;
      padding-right: 30px;
      .fableWrap {
        transform: translateY(100vh);
        p {
          @include vars.script();
          text-align: justify;
        }
      }
      @include vars.small() {
        display: none;
      }
    }
    .colThree {
      @include vars.four-twelfths();
      border-right: 50px solid transparent;
      border-image: url(../../public/images/1_Line_3.svg) 100 stretch;
      margin-left: -50px;
      padding-right: 10px;
      .largeCollageContainer {
        height: auto;
        width: 100%;
        .largeCollage {
          height: auto;
          padding-top: 60px;
          transform: translate(60vw) rotate(45deg);
          width: 100%;
          img {
            height: auto;
            object-fit: contain;
            width: 100%;
          }
          @include vars.x-small() {
            transform: translate(120vw) rotate(45deg);
          }
        }
      }
      a {
        @include vars.flexbox();
        @include vars.align-items(flex-end);
        cursor: pointer;
        margin-top: 60px;
        &.address {
          opacity: 0;
          transform: translateY(100px);
        }
        @include vars.x-small {
          margin-top: 0;
        }
      }
      @include vars.small() {
        @include vars.six-twelfths();
      }
      @include vars.x-small() {
        border: none;
        margin-left: 0;
        order: 1;
        width: 100%;
        .address {
          display: block;
          margin-top: 30px;
        }
      }
      .mobileHours {
        margin-top: 30px;
        i {
          font-style: normal !important;
        }
      }
    }
    .colFour {
      margin-left: -50px;
      width: vars.$one-twelfth;
      position: relative;
      .instagramContainer,
      .phoneContainer {
        @include vars.infoText();
        height: 100px;
        width: 250px;
        transform: rotate(-90deg);
        opacity: 0;
        right: -100px;
        a {
          transition: all 0.5s ease-in-out;
        }
        a:hover {
          color: vars.$gold;
        }
      }
      .instagramContainer {
        position: absolute;
        top: 150px;
        overflow: visible;
        a {
          padding-left: 30px;
        }
        svg {
          position: absolute;
          top: -37px;
          left: 0;
        }
        svg path {
          stroke-dasharray: 1006;
          stroke-dashoffset: 0;
        }

        &:hover svg path {
          animation: drawSvg 1.25s ease-in-out;
        }
      }
      .phoneContainer {
        bottom: 150px;
        position: absolute;
        height: 128px;
        padding-top: 25px;
        a {
          padding-left: 50px;
        }

        svg {
          position: absolute;
          top: -8px;
          left: 0px;
        }

        svg path {
          stroke-dasharray: 1006;
          stroke-dashoffset: 0;
        }

        a:hover svg path {
          animation: drawSvg 1s ease-in-out;
        }
      }
      @include vars.x-small {
        margin-top: 60px;
        margin-left: 0;
        order: 2;
        width: 100%;
        .instagramContainer,
        .phoneContainer {
          background: none;
          bottom: unset;
          height: auto;
          position: relative;
          top: unset;
          right: unset;
          transform: rotate(0);
          width: auto;
          a {
            padding-left: 0px;
          }
        }
        .instagramContainer {
          svg {
            width: 130px;
            top: -10px;
            left: -20px;
          }
        }
        .phoneContainer {
          margin-top: 30px;
          svg {
            width: 180px;
            top: -5px;
            left: -30px;
          }
        }
      }
    }
  }
  .one {
    left: -10vw;
    position: absolute;
    top: 60vh;
    width: 70px;
    img {
      height: auto;
      width: 100%;
    }
  }
  .infoCollageElement1 {
    left: vars.$five-twelfths;
    position: absolute;
    top: 100vh;
    width: vars.$four-twelfths;
    img {
      height: auto;
      width: 100%;
    }
    @include vars.tablet-and-lower {
      width: vars.$six-twelfths;
    }
    @include vars.x-small {
      width: vars.$ten-twelfths;
    }
  }
}

@keyframes drawSvg {
  0% {
    stroke-dashoffset: 1006;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
