@use "@styles/vars";

.contactWrapper {
    @include vars.flexbox();
    @include vars.flex-flow(column);
    @include vars.align-items(center);
    padding: 90px 0;
    .borderContainer {
        background: url(../../public/images/border.svg);
        height: 8px;
        background-repeat: repeat-x;
        width: vars.$eleven-twelfths;
    }
    .taglineRow {
        @include vars.flexbox();
        @include vars.flex-flow(row);
        @include vars.align-items(center);
        @include vars.justify-content(space-between);
        padding: 30px 0;
        text-transform: uppercase;
        width: vars.$ten-twelfths;
        span {
            font-size: 4.5vw;
        }
        .icon {
            max-width: 80px;
            width: vars.$one-twelfth;
            svg {
                height: auto;
                width: 100%;
            }
        }
    }
    .socialContainer {
        margin: 60px 0 120px 0;
        .circle {
            @include vars.flexbox();
            @include vars.justify-content(center);
            @include vars.align-items(center);
            background-color: vars.$white;
            border-radius: 50%;
            border: 4px solid vars.$white;
            height: 77px;
            transition: all 0.25s ease-in-out;
            width: 77px;
            svg {
                height: auto;
                width: 45px;
                path {
                    fill: vars.$red;
                }
            }
            &:hover {
                background: vars.$red;
                svg {
                    path {
                        fill: vars.$white;
                    }
                }
            }
        }
    }
    .logoContainer {
        @include vars.flexbox();
        @include vars.flex-flow(column);
        @include vars.justify-content(center);
        @include vars.align-items(center);
        min-width: 250px;
        width: vars.$two-twelfths;
        img {
            margin-bottom: 10px;
           width: 100%;
        }
    
        transform: scale(1);
        transition: transform 0.25s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    a {
        @include vars.body-font();
        font-size: 0.5rem;
        letter-spacing: 0.03rem;
        text-transform: uppercase;
    }
}

