@use "@styles/vars";

.contactWrapper {
  position: relative;
  display: grid;
  @include vars.grid-wrap();
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 120px 90px 0 90px;
  height: auto;
  p {
    font-size: 24px;
  }

  @include vars.small() {
    padding: 70px 36px;
  }
}
.opacity {
  opacity: 0;
  transform: translateY(50px);
}

.left {
  @include vars.five-twelfths();
  min-height: calc(100vh - 100px);
  position: relative;
  @include vars.x-small() {
    @include vars.full();
    order: 2;
    min-height: 100vh;
  }
}

.right {
  a svg path {
    stroke-dasharray: 1006;
    stroke-dashoffset: 0;
  }

  a:hover svg path {
    animation: drawSvg 1s ease-in-out;
  }

  @include vars.seven-twelfths();
  @include vars.x-small() {
    @include vars.full();
    order: 1;
    padding-bottom: 200px;
    min-height: 100vh;
  }

  a {
    width: auto;
    @include vars.infoText();
    font-size: 48px;
    span {
      text-transform: none;
    }
    svg {
      display: block;
      max-width: 270px;
    }
    transition: hover 0.5s ease-in-out;
  }
  a:hover {
    color: vars.$gold;
  }
  .giftLink {
    margin-top: 90px;
  }
  .signoff {
    width: 100%;
    position: relative;
    .sheepSvgContainer {
      opacity: 0;
      position: absolute;
      right: 0;
      top: -220px;
      min-width: 170px;
      width: vars.$one-twelfth;
      svg {
        width: 100%;
        path {
          fill: vars.$white;
        }
      }
    }
    .three {
      right: -60vw;
      position: absolute;
      top: 60vh;
      width: 70px;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.outroImage {
  position: absolute;
  top: -200px;
  left: 20px;
  width: vars.$three-twelfths;
  height: auto;
  z-index: 1;
  opacity: 0;
  img {
    width: 100%;
    height: auto;
  }
  @include vars.x-small() {
    width: vars.$full;
    left: 0;
  }
}

.outroCollageImage {
  height: auto;
  position: absolute;
  right: -10vw;
  bottom: -200px;
  width: 100%;
  z-index: 3;
  img {
    width: 100%;
    height: auto;
  }
}

@keyframes drawSvg {
  0% {
    stroke-dashoffset: 1006;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
