@use "../../../styles/vars";

.footer {
  @include vars.flexbox();
  @include vars.flex-direction(column);
  background-color: vars.$blue;
  color: vars.$white;
  padding: 120px 60px 60px;
  position: relative;
  z-index: 100;
  @include vars.tablet-and-lower {
    padding: 90px 30px 30px;
  }
  @include vars.x-small {
    padding: 60px 30px 30px;
  }

  .footerImage {
    background: vars.$yellow;
    height: 40vh;
    width: 100%;
  }

  .detailsWrapper {
    @include vars.flexbox();
    @include vars.justify-content(space-between);
    margin-bottom: 85px;
    @include vars.mobile {
      @include vars.flex-wrap(wrap);
      justify-content: unset;
    }
    .contactGroupWrapper {
      @include vars.flexbox();
      @include vars.justify-content(space-between);
      width: vars.$five-twelfths;
      @include vars.tablet-and-lower {
        width: unset;
      }
      @include vars.mobile {
        @include vars.flex-wrap(wrap);
      }
      .type {
        margin-bottom: 35px;
        @include vars.mobile {
          margin-bottom: 10px;
        }
      }
      .addressContainer,
      .emailGroupContainer {
        padding-right: 30px;
        @include vars.tablet-and-lower {
          padding-right: 90px;
        }
        @include vars.mobile {
          margin-bottom: 30px;
        }
      }
    }
    .socialContainer {
      @include vars.flexbox();
      @include vars.align-items(flex-end);
      width: vars.$two-twelfths;
      .social {
        margin-bottom: 15px;
        @include vars.mobile {
          margin-bottom: 5px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include vars.mobile {
        @include vars.align-items(flex-start);
        width: unset;
      }
    }
  }
  .logoContainer {
    width: 100%;
    div,
    svg {
      height: 100%;
      width: 100%;
    }
  }
}
