@use "../../styles/vars";

.projectsSection {
  @include vars.grid-wrap();
  padding: 110px vars.$one-twenty-fourth 250px;

  .eyebrowContainer {
    grid-row: 1;
    grid-column: 1/13;
    @include vars.small {
      grid-column: 1/5;
    }
  }
  .headline {
    grid-column: 1 / 13;
    grid-row: 2;
    margin-bottom: 50px;
    opacity: 0;
    @include vars.small {
      grid-column: 1/5;
    }
  }
  .projectsCopy {
    grid-row: 3;
    grid-column: 6/11;
    opacity: 0;
    @include vars.small {
      grid-column: 3/5;
    }
    @include vars.tablet-and-lower {
      grid-column: 1/4;
    }
  }
  .projectCardsContainer {
    grid-column: 1/13;
    grid-row: 4;
    margin-top: 105px;
    @include vars.small {
      grid-column: 1/5;
    }
    @include vars.tablet-and-lower {
      margin-top: 60px;
    }
    .projectCard {
      @include vars.flexbox();
      @include vars.justify-content(center);
      @include vars.align-items(center);
      height: calc(85vh - 60px);
      overflow: hidden;
      opacity: 0;
      outline: none;
      position: relative;
      transform: translateX(100%);
      transition: all 0.15s linear;
      img {
        height: 100%;
        object-fit: cover;
        transition: all 0.25s linear;
        width: 100%;
      }
      .projectTitle {
        @include vars.flexbox();
        @include vars.justify-content(center);
        @include vars.align-items(flex-end);
        bottom: 30px;
        color: vars.$white;
        position: absolute;
        width: 100%;
        span {
          border-bottom: 2px solid vars.$white;
          font-size: 30pt;
          line-height: 1;
          padding-bottom: 5px;

          &:not(:first-child) {
            @include vars.eyebrow-font();
          }
        }
      }
      &:hover {
        border-radius: 50px;
        cursor: pointer;
        img {
          height: 101%;
          width: 101%;
        }
      }
    }
  }
}
