@use "../../styles/vars";

.introSection {
  .headlineImageWrapper {
    @include vars.flexbox();
    @include vars.align-items(center);
    @include vars.justify-content(center);
    height: 120vh;
    position: sticky;
    top: 0;
    width: 100%;
    @include vars.ipad-pro-portrait {
      height: 110vh;
    }
    @include vars.tablet-and-lower {
      height: 112vh;
    }
    @include vars.x-small {
      height: 115vh;
    }
    .introHeadline {
      @include vars.flexbox();
      @include vars.flex-direction(column);
      @include vars.align-items(center);
      @include vars.justify-content(center);
      @include vars.flex-wrap(wrap);
      color: vars.$white;
      position: absolute;
      .headlineWrapper {
        @include vars.flexbox();
        @include vars.align-items(flex-end);
        @include vars.justify-content(center);
        @include vars.flex-wrap(wrap);
        opacity: 0;
        text-align: center;
        width: vars.$ten-twelfths;
      }
      .passport {
        @include vars.eyebrow-font();
      }
      .starContainer {
        height: 200px;
        margin-bottom: 20px;
        opacity: 0;
        svg {
          height: 100%;
        }
      }
    }
    .imageContainer {
      height: 100%;
      width: 100%;
      img {
        height: 100% !important;
        width: 100%;
      }
    }
  }
  .introTextContainer {
    @include vars.flexbox();
    @include vars.flex-direction(column);
    @include vars.justify-content(center);
    background-color: vars.$lightblue;
    min-height: calc(100vh + 330px);
    height: auto;
    padding: 165px vars.$one-twenty-fourth;
    position: relative;
    z-index: 10;
    .slopeStarContainer {
      position: absolute;
      height: 320px;
      top: -125px;
      left: -40px;
      svg {
        height: 100%;
      }
      @include vars.mobile {
        height: 250px;
        top: -98px;
        left: -80px;
      }
      @include vars.x-small {
        height: 220px;
        top: -86px;
        left: -110px;
      }
    }
    .introCopy {
      @include vars.body-one();
      opacity: 0;
      max-width: 1300px;
    }
    @include vars.mobile {
      padding: 100px vars.$one-twenty-fourth;
    }
  }
}
