@use "@styles/vars";
.seasonsText {
    bottom: -77px;
    left: 0;
    max-width: 350px;;
    position: absolute;
    width: vars.$four-twelfths;
    svg {
      fill: none;
      stroke: vars.$white;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
     
    }
  }