@use "../../styles/vars";

.factWrapper {
  padding-bottom: 70px;
  overflow: hidden;
  @include vars.small {
    padding-bottom: 40px;
  }
  .fact {
    @include vars.flexbox();
    @include vars.align-items(flex-start);
    opacity: 0;
    transform: translateY(200%) rotate3d(0.5, 0, 0, 100deg);
    svg {
      height: 15px;
      margin-top: 8px;
      min-width: 15px;
      @include vars.tablet-and-lower {
        margin-top: 5px;
      }
      @include vars.x-small {
        margin-top: 3px;
      }
    }
    p {
      margin: 0 0 0 5px;
    }
  }
  @include vars.tablet-and-lower {
    &:last-child {
      padding-bottom: 0;
    }
  }
}
