@use "@styles/vars";

.headerMarquee {
    background: vars.$white;
    bottom: 0;
    color: vars.$red;
    left: 0;
    padding: 15px 0;
    position: fixed;
    right: 0;
    transform: translateY(400px);
    width: 100%;
    z-index: 10;
  }