@use "@/styles/vars";

.newsletterWrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 130px;
  p {
    width: 70%;
    margin-bottom: 0;
  }

  @include vars.small {
    width: 100%;
    p {
      width: 100%;
    }
    flex-direction: column;
    align-items: flex-start;
  }

  @include vars.x-small {
    flex-direction: column;
    gap: 0px;
  }
}

.form {
  @include vars.flexbox();
  @include vars.align-items(center);
  gap: 20px;
  align-items: center;
  @include vars.medium-and-lower() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
  }
}

.input {
  @include vars.body-font;
  background: transparent;
  border: none;
  font-size: 42px;
  color: white;
  width: 100%;
  &::placeholder {
    color: vars.$pureWhite;
  }
  &:focus,
  &:active {
    outline: none;
  }
  @include vars.mobile {
    min-width: 300px;
  }
  @include vars.x-small {
    font-size: 20px;
  }
}

.inputWrap {
  width: 70%;
}
.inputBorder {
  width: 100%;
  svg {
    display: block;
    width: 100%;
  }
}

.button {
  position: relative;
  svg {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    width: 216px;
    height: auto;
  }

  background: transparent;
  span {
    @include vars.infoText();
    text-transform: none;
    font-size: 48px;
  }
  width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border: none;
  color: vars.$pureWhite;
  cursor: pointer;
  text-decoration: none;
  // transition: hover 0.5s ease-in-out;
}

.button svg path {
  stroke-dasharray: 1006;
  stroke-dashoffset: 0;
}

.button:hover svg path {
  animation: drawSvg 0.75s ease-in-out;
}
.button:hover {
  color: vars.$gold;
}

@keyframes drawSvg {
  0% {
    stroke-dashoffset: 1006;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
