@import "./vars";

html,
body {
  @include body-font();
  background: $black;
  color: $pureWhite;
}

body {
  margin: 0;
  overflow-x: clip;
  @include mobile {
    position: relative;
  }
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}


p {
  @include body-font();
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
  text-decoration: none;
  -webkit-text-decoration: none;
}

* {
  box-sizing: border-box;
}


*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pin-spacer {
  position: relative;
  z-index: 1;
}

.pin-style {
  color: white;
  height: 100vh;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
}
