@import "./vars";

html,
body {
  @include body-font();
  background: $black;
  color: $white;
  overflow-x: clip;
 
}

body {
  margin: 0;
  position: fixed;
  width: 100vw;
}

main {
  margin-bottom: 150px;
  @include x-small {
    margin-bottom: 200px;
  };
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}
h3 {
  @include h3();
}

p {
  @include body-font();
  padding: 0;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

a,
button {  
  color: $white;
  text-decoration: none;
  text-decoration: none;
  -webkit-text-decoration: none;
 }

  a:not(.no-link){
    border-bottom: 2px solid $white;
    transition: border 0.25s ease-in-out;
    &:hover {
      border-width: 5px;
    }
  }

 button {
  @include button();
  background-color: transparent;
  border: 2px solid $black;
  color: $black;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 40px;
  transition: all 0.25s ease-in-out  ;
  &:hover {
    background-color: $black;
    color: $white;
    cursor: pointer;
  }
 }


svg {
  path {
    fill: $white;
    &.black {
 
        fill: $black;
 
    }
  }
 
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
