@import "./vars";

html,
body {
  @include body-font();
  background: $red;
  color: $white;
  overflow-x: clip;
}

body {
  margin: 0;
  @include mobile {
    position: relative;
  }
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}
h3 {
  @include h3();
}

p {
  @include body-font();
  padding: 0;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

a,
button {
  color: $white;
  text-decoration: none;
  text-decoration: none;
  -webkit-text-decoration: none;
 
  }

.quote {
  @include button();
}

svg {
  path {
    fill: $white;
  }
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pin-spacer {
  position: relative;
  z-index: 1;
}

.pin-style {
  overscroll-behavior: none;
  display: flex;
  flex-wrap: nowrap;
  width: 200vw;
  overflow: hidden;
}

.mobile-pin-spacer {
  position: relative;
  z-index: 1;
  margin-top: -40vh;
}
.mobile-pin-style {
  overflow: hidden;
}