@mixin x-small() {
  @media only screen and (max-width: 428px) {
    @content;
  }
}

@mixin small() {
  @media only screen and (max-width: 1079px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin ipad-pro-portrait() {
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}

@mixin ipad-mini() {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet-and-lower() {
  @media only screen and (max-width: 820px) {
    @content;
  }
}

@mixin medium-and-lower() {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin medium() {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin medium-and-higher() {
  @media only screen and (min-width: 1080px) {
    @content;
  }
}

@mixin large() {
  @media only screen and (min-width: 1440px) and (max-width: 1999px) {
    @content;
  }
}

@mixin x-large() {
  @media only screen and (min-width: 1999px) {
    @content;
  }
}

// COLORS
/* Put in your brand colors here */
$black: #000000;
$white: #ffffff;

// FONTS
/* Import your fonts here */
@import url("https://use.typekit.net/sry1mxk.css");

$font-vendetta: "vendetta, serif";

// OTHER SET STYLES
$border: 3px solid $black;
$border-width: 3px;

@mixin grid-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Creates 12 columns */
  grid-template-rows: repeat(12, 1fr); /* Creates 12 rows */
  width: 100%; /* Adjust based on your needs */
  height: 100vh; /* Adjust based on your needs */
  @include mobile() {
    grid-template-rows: unset;
    height: auto;
  }
}

@mixin grid-info($col-start, $col-end, $row-start, $row-end) {
  grid-column-start: $col-start;
  grid-column-end: $col-end;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

// MIXINS FOR FONTS

@mixin title-font() {
  font-size: 100px;
  font-family: $font-vendetta;
  font-weight: 700;
  font-style: normal;
}

@mixin font-manrope() {
  font-size: 60px;
  line-height: 70px;
  font-weight: 300;
  font-style: normal;
}

@mixin header-font() {
  font-family: $font-vendetta;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  color: $white;
  @include small() {
    font-size: 49px;
    line-height: 60px;
  }
}

@mixin subhead-font() {
  font-family: $font-vendetta;
  font-size: 38px;
  line-height: 50px;
  color: $white;
  @include x-small {
    font-size: 25px;
    line-height: 32px;
  }
}

@mixin body-font() {
  font-size: 13pt;
  letter-spacing: 0rem;
  line-height: 18pt;
  color: $white;
  @include small() {
    font-weight: 400;
  }
}

@mixin list-font() {
  font-family: $font-manrope;
  font-size: 14pt;
  letter-spacing: 0rem;
  line-height: 18pt;
  // @include mobile() {
  //   font-size: 16pt;
  // }
}

// Buttons //
@mixin button() {
  font-family: $font-manrope;
  font-size: 33px;
  line-height: 42px;
  border: 3px solid $black;
  padding: 8px 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: $black;
    color: $white;
  }
  @include x-small {
    font-size: 25px;
    line-height: 33px;
  }
}

// Flexbox// --------------------------------------------------
// Flexbox SASS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
  -moz-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
  -moz-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

// Mixin
@mixin transform($transforms...) {
  // combine the passed transforms into a space separated list
  $transform-list: join($transforms, null, space);

  // print out the transforms
  -webkit-transform: $transform-list;
  -moz-transform: $transform-list;
  -ms-transform: $transform-list;
  -o-transform: $transform-list;
  transform: $transform-list;
}

@mixin rotated-text(
  $num-letters: 100,
  $angle-span: 180deg,
  $angle-offset: 0deg
) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      @include transform(rotate($angle-offset + $angle-per-char * $i));
    }
  }
}
